﻿@*
Page Options
*@

<a href="#"
   class="flex items-center text-white py-4 pl-6 nav-item">
    <i class="fas fa-tachometer-alt mr-3"></i>
    Dashboard
</a>

<a href="#"
   class="flex items-center text-white py-4 pl-6 nav-item">
    <i class="fas fa-tachometer-alt mr-3"></i>
    1
</a>

<a href="#"
   class="flex items-center text-white py-4 pl-6 nav-item">
    <i class="fas fa-tachometer-alt mr-3"></i>
    2
</a>

<a href="#"
   class="flex items-center text-white py-4 pl-6 nav-item">
    <i class="fas fa-tachometer-alt mr-3"></i>
    3
</a>﻿