<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte de Ventas</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <link href="~/css/custom.css" rel="stylesheet" />

</head>
<body>
    <form>
        <div class="border-b border-gray-900/10 pb-12">
            <h2 class="text-base font-semibold leading-7 text-white">Filtros de Búsqueda</h2>
            <!--                  Inicio Fechas                        -->
            <div class="mt-4 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

                <div class="sm:col-span-2 sm:col-start-1">
                    <label for="city" class="block text-sm font-medium leading-6 text-white">Fecha Inicio</label>
                    <div class="mt-2">
                        <input type="date" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px;">
                    </div>
                </div>

                <div class="sm:col-span-2">
                    <label for="region" class="block text-sm font-medium leading-6 text-white">Fecha Final</label>
                    <div class="mt-2">
                        <input type="date" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px;">
                    </div>
                </div>
                <!--                  Final de Fechas                        -->
                <!--                  Inicio Datos                        -->

                <div class="sm:col-span-2">
                    <label for="email" class="block text-sm font-medium leading-6 text-white">Articulo</label>
                    <div class="mt-2">
                        <input type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px;">
                    </div>
                </div>

                <!--                  Final Datos                        -->
            </div>
        </div>
    </form>
    <!-- Tabla de ventas -->
    <div class="w-full">
        <div class="flex justify-between items-center px-6 py-4 border-b">
            <p class="text-xl pb-3 flex items-center text-white">
                <i class="fas fa-list mr-3"></i> Listado Movimiento de Productos
            </p>
            <div>
                <button class="bg-green-500 text-white px-4 py-2 mr-4 rounded hover:bg-green-600">Exportar a Excel</button>
                <button class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600">Exportar a PDF</button>
            </div>
        </div>
        <div class="bg-white overflow-auto">
            <table class="min-w-full bg-white border border-gray-300">
                <thead class="bg-gray-900 text-white">
                    <tr>
                        <th class="py-2 px-4">Fecha</th>
                        <th class="py-2 px-4">Articulo</th>
                        <th class="py-2 px-4">Descripción</th>
                        <th class="py-2 px-4">Movimiento</th>
                        <th class="py-2 px-4">Tipo Movimiento</th>
                        <th class="py-2 px-4">Documento</th>
                        <th class="py-2 px-4">Cantidad Movimiento</th>
                        <th class="py-2 px-4">Existencia</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr class="even:bg-gray-50 dark:even:bg-gray-900/50 lg:justify-center">
                        <td class="py-2 px-4">23/02/2024</td>
                        <td class="py-2 px-4">PANT-001</td>
                        <td class="py-2 px-4">Pantalon corto</td>
                        <td class="py-2 px-4">00001</td>
                        <td class="py-2 px-4">Venta</td>
                        <td class="py-2 px-4">Salida</td>
                        <td class="py-2 px-4">6</td>
                        <td class="py-2 px-4">40</td>
                    </tr>
                    <tr class="even:bg-gray-50 dark:even:bg-gray-900/50 lg:justify-center">
                        <td class="py-2 px-4">24/02/2024</td>
                        <td class="py-2 px-4">PANT-001</td>
                        <td class="py-2 px-4">Pantalon corto</td>
                        <td class="py-2 px-4">00002</td>
                        <td class="py-2 px-4">Venta</td>
                        <td class="py-2 px-4">Salida</td>
                        <td class="py-2 px-4">4</td>
                        <td class="py-2 px-4">36</td>
                    </tr>
                    <tr class="even:bg-gray-50 dark:even:bg-gray-900/50 lg:justify-center">
                        <td class="py-2 px-4">28/02/2024</td>
                        <td class="py-2 px-4">PANT-001</td>
                        <td class="py-2 px-4">Pantalon corto</td>
                        <td class="py-2 px-4">03020</td>
                        <td class="py-2 px-4">Nota de Crédito</td>
                        <td class="py-2 px-4">Ingreso</td>
                        <td class="py-2 px-4">4</td>
                        <td class="py-2 px-4">40</td>
                    </tr>
                    <tr class="even:bg-gray-50 dark:even:bg-gray-900/50 lg:justify-center">
                        <td class="py-2 px-4">01/03/2024</td>
                        <td class="py-2 px-4">PANT-001</td>
                        <td class="py-2 px-4">Pantalon corto</td>
                        <td class="py-2 px-4">0002020</td>
                        <td class="py-2 px-4">Ingreso de Mercaderia</td>
                        <td class="py-2 px-4">Ingreso</td>
                        <td class="py-2 px-4">40</td>
                        <td class="py-2 px-4">80</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Tabla de ventas -->
    </div>
</body>
</html>
