@model IngresoMercaderia
<link href="~/css/custom.css" rel="stylesheet" />


<!--                  Inicio Form                        -->
<form asp-action="CrearIngresoMercaderia" method="post">
    <div class="bg-gray-800 text-white p-5 rounded-lg shadow-lg">
        <h2 class="text-lg font-bold mb-4">Ingreso Factura de Mercadería</h2>
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">
            <div class="sm:col-span-2">
                <label for="PK_FK_Documento" class="block text-sm font-medium">Número de Documento</label>
                <div class="mt-2">
                    <input asp-for="PK_FK_Documento" type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 17px;">
                </div>
            </div>

            <div class="sm:col-span-2">
                <label for="Fecha_Compra" class="block text-sm font-medium">Fecha de Compra</label>
                <div class="mt-2">
                    <input asp-for="Fecha_Compra"  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px;">
                </div>
           @*      type="date" id="entry_date" name="entry_date" *@
            </div>
            @*     <div class="sm:col-span-2">
            <label for="expiry_date" class="block text-sm font-medium">Fecha Vencimiento</label>
            <div class="mt-2">
            <input type="date" id="expiry_date" name="expiry_date" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px;">
            </div>
            </div> *@
            <div class="sm:col-span-2">
                <label for="PK_FK_Proveedor" class="block text-sm font-medium">Proveedor</label>
                <div class="mt-2">
                    <select asp-for="PK_FK_Proveedor" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px; height: 38px;">
                        <option value="">Seleccionar Proveedor</option>
                        <!-- LECTURA DE LA BD O OPCIONES ESTÁTICAS -->
                        <option value="1">Proveedor A</option>
                        <option value="2">Proveedor B</option>

                    </select>
                </div>
            </div>
            <div class="sm:col-span-2">
                <label for="FK_CondicionPago" class="block text-sm font-medium">Condición de Pago</label>
                <div class="mt-2">
                    <select asp-for="FK_CondicionPago" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px; height: 38px;">
                        <option value="">Seleccionar Forma de Pago</option>
                        <option value="1">Contado</option>
                        <option value="2">Crédito 30 días</option>
                        <option value="3">Crédito 60 días</option>
                        <option value="4">Crédito 90 días</option>
                        <option value="5">Anticipo 50%</option>
                    </select>
                </div>
            </div>
            <div class="sm:col-span-4">
                <label for="document_number" class="block text-sm font-medium">Observaciones</label>
                <div class="mt-2">
                    <input type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 17px;">
                </div>
            </div>
        </div>
        <h2 class="text-lg font-bold mb-4 mt-8">Ingreso de Articulos</h2>
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">
            <div class="sm:col-span-2">
                <label for="PK_FK_Articulo" class="block text-sm font-medium leading-6 text-white">Código Artículo</label>
                <div class="mt-2 flex items-center space-x-2">
                    <input asp-for="PK_FK_Articulo" type="text" class="flex-grow rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 17px;">
                    <a asp-action="Crea" class="btn bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-1.5 px-4 rounded">Buscar Artículo</a>
                </div>
            </div>
            <div class="sm:col-span-2">
                <label for="Cantidad" class="block text-sm font-medium leading-6 text-white">Cantidad</label>
                <div class="mt-2">
                    <input asp-for="Cantidad" type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 17px;">
                </div>
            </div>
            <div class="sm:col-span-2">
                <label for="Costo" class="block text-sm font-medium leading-6 text-white">Costo</label>
                <div class="mt-2">
                    <input asp-for="Costo" type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 17px;">
                </div>
            </div>
        </div>
    </div>


    <!--                  Inicio Tabla                        -->

    <div class="w-full mt-8">
        <div class="flex justify-between items-center bg-gray-800 text-white p-4 rounded-t-lg">
            <h3 class="text-xl font-semibold"><i class="fas fa-list mr-3"></i> Listado de Articulos</h3>
            <div>
                <button type="submit" asp-action="CrearIngresoMercaderia" class="rounded-md bg-indigo-600 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus:ring-2 focus:ring-indigo-500">Agregar Artículo</button>
                <button type="submit" asp-action="Index" class="rounded-md bg-green-600 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus:ring-2 focus:ring-indigo-500">Guardar</button>
                @*    <a asp-action="Index" class="btn bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Guardar</a> *@

            </div>
        </div>
    </div>
    <div class="bg-white rounded-b-lg shadow-lg overflow-hidden">
        <table class="min-w-full leading-normal">
            <thead>
                <tr class="bg-gray-800 text-white">
                    <th class="text-center py-3">Artículo</th>
                    <th class="text-center py-3">Cantidad</th>
                    <th class="text-center py-3">Costo</th>
                    <th class="text-center py-3">Total</th>
                    <th class="text-center py-3">Acciones</th>
                </tr>
            </thead>
            <tbody class="text-gray-700">
                <tr class="border-b border-gray-200 hover:bg-gray-100">
                    <td class="py-3 text-center">Artículo A</td>
                    <td class="py-3 text-center">10</td>
                    <td class="py-3 text-center">$50</td>
                    <td class="py-3 text-center">$500</td>
                    <td class="py-3 text-center">
                        <div class="flex justify-center space-x-2">
                            <a asp-action="AgregarInventario" class="text-blue-600 hover:text-blue-900" title="Editar">
                                <i class="fas fa-edit"></i>
                            </a>
                            <form method="post" asp-action="AgregarInventario" onsubmit="return confirm('¿Está seguro que desea desactivar este cliente?');">
                                <button type="submit" class="text-red-600 hover:text-red-900 bg-transparent border-none p-0" title="Desactivar">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>

                        </div>
                    </td>
            </tbody>
        </table>
    </div>
    @*  <input asp-for="Fecha_Compra" value="2024-06-22 23:36:12.870" type="hidden" /> *@
    <input asp-for="Estado" value="0" type="hidden" />
    <input asp-for="Subtotal" value="0" type="hidden" />
    <input asp-for="FK_Usuario_Creacion" value="user1" type="hidden" />
    <input asp-for="FK_Usuario_Modificacion" value="user1" type="hidden" />
    <input asp-for="Fecha_Creacion" value="" type="hidden" />
    <input asp-for="Fecha_Modificacion" value="" type="hidden" />
    <!--                  Final Tabla                        -->
</form>