<link href="~/css/custom.css" rel="stylesheet" />

<div class="w-full">
</div>

<form>
    <div class="bg-gray-800 text-white p-5 rounded-lg shadow-lg">
        <h2 class="text-lg font-bold mb-4">Filtros de Búsqueda</h2>
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">

            <div class="sm:col-span-1">
                <label for="entry_date" class="block text-sm font-medium">Fecha Inicio</label>
                <div class="mt-2">
                    <input type="date" id="entry_date" name="entry_date" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px;">
                </div>
            </div>
            <div class="sm:col-span-1">
                <label for="expiry_date" class="block text-sm font-medium">Fecha Final</label>
                <div class="mt-2">
                    <input type="date" id="expiry_date" name="expiry_date" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px;">
                </div>
            </div>
            <div class="sm:col-span-1">
                <label for="provider" class="block text-sm font-medium">Proveedor</label>
                <div class="mt-2">
                    <select id="provider" name="provider" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px; height: 38px;">
                        <option value="">Seleccionar Proveedor</option>
                        <!-- LECTURA DE LA BD O OPCIONES ESTÁTICAS -->
                        <option value="Proveedor A">Proveedor A</option>
                        <option value="Proveedor B">Proveedor B</option>
                        <option value="Proveedor C">Proveedor C</option>

                    </select>
                </div>
            </div>
            <div class="sm:col-span-1">
                <label for="document_number" class="block text-sm font-medium">Número de Documento</label>
                <div class="mt-2">
                    <input type="text" id="document_number" name="document_number" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 17px;">
                </div>
            </div>

        </div>
    </div>
</form>

<div class="w-full mt-8">
    <div class="flex justify-between items-center bg-gray-800 text-white p-4 rounded-t-lg">
        <h3 class="text-xl font-semibold"><i class="fas fa-list mr-3"></i> Listado de Ingresos</h3>
        <div>
            <a asp-action="AgregarInventario" class="btn bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">Crear Ingreso de Mercadería</a>
        </div>
    </div>

    <!--                  Tabla                        -->
    <div class="bg-white rounded-b-lg shadow-lg overflow-hidden">
        <table class="min-w-full leading-normal">
            <thead>
                <tr class="bg-gray-800 text-white">
                    <th class="text-center py-3">Número de Documento</th>
                    <th class="text-center py-3">Proveedor</th>
                    <th class="text-center py-3">Fecha Emisión</th>
                    <th class="text-center py-3">Fecha Vencimiento</th>
                    <th class="text-center py-3">Forma de Pago</th>
                    <th class="text-center py-3">Total a pagar</th>
                    <th class="text-center py-3">Acciones</th>
                </tr>
            </thead>
            <tbody class="text-gray-700">
                <tr class="border-b border-gray-200 hover:bg-gray-100">
                    <td class="py-3 text-center">123456</td>
                    <td class="py-3 text-center">Proveedor A</td>
                    <td class="py-3 text-center">2024-04-01</td>
                    <td class="py-3 text-center">2026-04-01</td>
                    <td class="py-3 text-center">Efectivo</td>
                    <td class="py-3 text-center">25000</td>
                    <td>
                        <div class="flex justify-center space-x-2">
                            <a asp-action="AgregarInventario" class="text-blue-600 hover:text-blue-900" title="Editar">
                                <i class="fas fa-edit"></i>
                            </a>

                            <a asp-action="AgregarInventario" class="text-blue-600 hover:text-blue-900" title="Ver">
                                <i class="fas fa-eye"></i>
                            </a>
                            <form method="post" asp-action="Index" onsubmit="return confirm('¿Está seguro que desea desactivar este cliente?');">
                                <button type="submit" class="text-red-600 hover:text-red-900 bg-transparent border-none p-0" title="Desactivar">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>

                        </div>
                    </td>
            </tbody>
        </table>
    </div>
</div>
