@model Articulo

<link href="~/css/custom.css" rel="stylesheet" />

<div class="w-full">
</div>

<form>
    <div class="bg-gray-800 text-white p-5 rounded-lg shadow-lg">
        <h2 class="text-lg font-bold mb-4">Filtros de Búsqueda</h2>
      
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">
            <div class="sm:col-span-1">
                <label for="document_number" class="block text-sm font-medium leading-6 text-white">Artículo o Descripción</label>
                <div class="mt-2">
                    <input type="text" id="document_number" class="block w-full rounded-md bg-gray-700 border-0 py-1.5 text-white focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px;">
                </div>
            </div>
            <div class="sm:col-span-1 flex items-center mt-6">
                <input type="checkbox" id="existencias_mayores" class="block rounded-md text-indigo-600 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6 mr-2">
                <label for="existencias_mayores" class="text-sm font-medium">Existencias Mayores a 0</label>
            </div>
        </div>

    </div>
</form>

<div class="w-full mt-8 bg-gray-800 p-6 rounded-lg shadow-lg">
    <div class="flex justify-between items-center bg-gray-800 text-white p-4 rounded-t-lg">
        <h3 class="text-xl font-semibold"><i class="fas fa-list mr-3"></i>Listado de Inventario</h3>
    </div>

    <!--                  Tabla                        -->
    <div class="overflow-auto mt-4">
        <table class="min-w-full bg-gray-800 text-white">
            <thead class="bg-gray-900">
                <tr>
                    <th class="py-3 px-4 text-center">Artículo</th>
                    <th class="py-3 px-4 text-center">Descripción</th>
                    <th class="py-3 px-4 text-center">Cantidad</th>
                </tr>
            </thead>
            <tbody id="bodyTablaIngresos" class="text-center">
            </tbody>
        </table>
    </div>
</div>

<script>
    // Función para obtener y listar los ingresos desde el backend
    function obtenerYListarIngresos() {
        fetch('/Inventario/ListarArticulos')
            .then(response => response.json())
            .then(data => {
                console.log('Datos recibidos del API:', data);

                // Ordenar los datos por cantidad de mayor a menor
                data.sort((a, b) => b.cantidad - a.cantidad);

                // Llenar la tabla con los datos recibidos
                const tableBody = document.getElementById('bodyTablaIngresos');
                tableBody.innerHTML = '';

                data.forEach(item => {
                    const row = `
                                <tr class="even:bg-gray-700 hover:bg-gray-600">
                                    <td class="py-3 px-4 border-b border-gray-700">${item.pK_Articulo}</td>
                                    <td class="py-3 px-4 border-b border-gray-700"${item.descripcion}</td>
                                    <td class="py-3 px-4 border-b border-gray-700">${item.cantidad}</td>
                            </tr>
                        `;
                    tableBody.innerHTML += row;
                });

                // Agregar la funcionalidad de filtrado
                document.getElementById('document_number').addEventListener('input', filtrarTabla);
                document.getElementById('existencias_mayores').addEventListener('change', filtrarTabla);
            })
            .catch(error => {
                console.error('Error al obtener los ingresos:', error);
                // Mostrar un mensaje de error en caso de fallo
                const errorDiv = document.getElementById('error-message');
                if (errorDiv) {
                    errorDiv.textContent = 'Error al obtener los ingresos. Por favor, inténtelo de nuevo más tarde.';
                } else {
                    console.error('Elemento error-message no encontrado en el DOM.');
                }
            });
    }

    // Función para filtrar la tabla de ingresos por búsqueda
    function filtrarTabla() {

        // Obtener el valor de búsqueda de cada campo
        const documentNumber = document.getElementById('document_number').value.toLowerCase();
        const existenciasMayores = document.getElementById('existencias_mayores').checked;

        // Obtener todas las filas de la tabla
        const filas = document.querySelectorAll('#bodyTablaIngresos tr');

        filas.forEach(fila => {
            const cells = fila.getElementsByTagName('td');
            const articulo = cells[0].textContent.toLowerCase();
            const descripcion = cells[1].textContent.toLowerCase();
            const cantidad = parseInt(cells[2].textContent.trim());

            const matchDocumentNumber = documentNumber === '' || articulo.includes(documentNumber) || descripcion.includes(documentNumber);
            const matchExistenciasMayores = !existenciasMayores || cantidad > 0;

            if (matchDocumentNumber && matchExistenciasMayores) {
                fila.style.display = '';
            } else {
                fila.style.display = 'none';
            }
        });
    }

    // Llamar a obtenerYListarIngresos al cargar la página
    document.addEventListener('DOMContentLoaded', obtenerYListarIngresos);
</script>
