<link href="~/css/custom.css" rel="stylesheet" />

<div class="w-full">
</div>

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img src="~/imgs/ADMLogo.png" class="mx-auto h-20 w-auto">
        <h2 class="mt-10 text-center text-3xl font-bold leading-9 tracking-tight text-white">
            Iniciar Sesión
        </h2>
    </div>


    <!-- Formulario -->
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form class="space-y-6" action="#" method="POST">
            <div>
                <label for="city" class="block text-lg font-medium leading-7 text-white">Usuario</label>
                <div class="mt-2">
                    <input type="text" class="block w-full rounded-lg border-0 py-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-lg sm:leading-7" style="padding-left: 15px;">
                </div>
            </div>

            <div>
                <div class="flex items-center justify-between">
                    <label for="city" class="block text-lg font-medium leading-7 text-white">Contraseña</label>
                </div>
                <div class="mt-2">
                    <input type="password" class="block w-full rounded-lg border-0 py-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-lg sm:leading-7" style="padding-left: 15px;">
                </div>
            </div>

            <div>
                 <button asp-controller="Home" asp-action="Index" type="submit" class="flex w-full justify-center rounded-lg bg-blue-500 px-4 py-2 text-lg font-semibold leading-7 text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Ingresar</button>
            </div>
        </form>
    </div>

    <!-- Fin Formulario -->

</div>
