@model ADM.Models.Usuario

<link href="~/css/custom.css" rel="stylesheet" />

<div class="w-full">
</div>

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img src="~/imgs/ADMLogo.png" class="mx-auto h-20 w-auto">
        <h2 class="mt-10 text-center text-3xl font-bold leading-9 tracking-tight text-white">
            Iniciar Sesión
        </h2>
    </div>

    <!-- Formulario de Login -->
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form asp-controller="Seguridad" asp-action="Login" method="post" class="space-y-6">
            <div>
                <label asp-for="Correo" class="block text-lg font-medium leading-7 text-white"></label>
                <div class="mt-2">
                    <input asp-for="Correo" type="email" class="block w-full rounded-lg border-0 py-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-lg sm:leading-7" style="padding-left: 15px;" required>
                </div>
            </div>

            <div>
                <div class="flex items-center justify-between">
                    <label asp-for="Contra" class="block text-lg font-medium leading-7 text-white">Contraseña</label>
                </div>
                <div class="mt-2">
                    <input asp-for="Contra" type="password" class="block w-full rounded-lg border-0 py-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-lg sm:leading-7" style="padding-left: 15px;" required>
                </div>
            </div>

            <div>
                <button type="submit" class="flex w-full justify-center rounded-lg bg-blue-500 px-4 py-2 text-lg font-semibold leading-7 text-white shadow-sm hover:bg-blue-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Ingresar</button>
            </div>

            <!-- Mensaje de Error -->
            <div asp-validation-summary="All" class="text-red-500"></div>
        </form>
    </div>
    <!-- Fin Formulario -->

</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
