<link href="~/css/custom.css" rel="stylesheet" />

<div class="w-full">
</div>


<form>
    <div class="border-b border-gray-900/10 pb-12">
        <h2 class="text-base font-semibold leading-7 text-white">Detalles Factura</h2>
        <div class="mt-4 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-3">

            <div class="sm:col-span-1">
                <label for="document_number" class="block text-sm font-medium leading-6 text-white">Numero Documento</label>
                <div class="mt-2">
                    <input type="text" value="123456" id="document_number" name="document_number" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px;" disabled>
                </div>
            </div>

            <div class="sm:col-span-1">
                <label for="document_number" class="block text-sm font-medium leading-6 text-white">Fecha Emisión</label>
                <div class="mt-2">
                    <input type="text"  disabled value="2024-04-01" id="document_number" name="document_number" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px;">
                </div>
            </div>

            <div class="sm:col-span-1">
                <label for="document_number" class="block text-sm font-medium leading-6 text-white">Cliente</label>
                <div class="mt-2">
                    <input type="text" disabled value="Cliente A" id="document_number" name="document_number" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px;">
                </div>
            </div>

            <div class="sm:col-span-1">
                <label for="document_number" class="block text-sm font-medium leading-6 text-white">Cedula</label>
                <div class="mt-2">
                    <input type="text" disabled value="123456789 (Física)" id="document_number" name="document_number" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px;">
                </div>
            </div>

            <div class="sm:col-span-1">
                <label for="document_number" class="block text-sm font-medium leading-6 text-white">Vendedor</label>
                <div class="mt-2">
                    <input type="text" disabled value="Vendedor A" id="document_number" name="document_number" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px;">
                </div>
            </div>

            <div class="sm:col-span-1">
                <label for="document_number" class="block text-sm font-medium leading-6 text-white">Condición Pago</label>
                <div class="mt-2">
                    <input type="text" disabled value="Contado" id="document_number" name="document_number" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px;">
                </div>
            </div>

            <div class="sm:col-span-1">
                <label for="document_number" class="block text-sm font-medium leading-6 text-white">Tipo Documento</label>
                <div class="mt-2">
                    <input type="text" disabled value="Pedido" id="document_number" name="document_number" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px;">
                </div>
            </div>

            <div class="sm:col-span-1">
                <label for="document_number" class="block text-sm font-medium leading-6 text-white">Total</label>
                <div class="mt-2">
                    <input type="text" disabled value="25000"  id="document_number" name="document_number" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px;">
                </div>
            </div>

        </div>
    </div>
</form>