
<p>
    <a asp-action="Index" class="btn-info" style="background-color: #3985CD; color: #fff; padding: 5px; border-radius: 5px; ">Ir atrás</a>
</p>

<br />
<div class="w-full">
    <p class="text-xl pb-3 flex items-center text-white">
        <i class="fas fa-list mr-3"></i> Facturas Anuladas
    </p>
    <div class="bg-white overflow-auto">
        <table class="min-w-full bg-white border border-gray-300">
            <thead class="bg-gray-900 text-white">
                <tr>
                    <th class="text-center py-3"># Factura</th>
                    <th class="text-center py-3">Fecha Emisión</th>
                    <th class="text-center py-3">Cliente</th>
                    <th class="text-center py-3">Vendedor</th>
                    <th class="text-center py-3">Estado</th>
                    <th class="text-center py-3">Total</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr class="even:bg-gray-50 dark:even:bg-gray-900/50 lg:justify-center">
                    <td class="p-3 border border-gray-300">123456</td>
                    <td class="p-3 border border-gray-300">2024-04-01</td>
                    <td class="p-3 border border-gray-300">Cliente A</td>
                    <td class="p-3 border border-gray-300">Vendedor A</td>
                    <td class="p-3 border border-gray-300">Pagado</td>
                    <td class="p-3 border border-gray-300">$25,000</td>
                    <!--NO PUSE ACCIONES-->
                </tr>
            </tbody>
        </table>
    </div>
</div>