﻿@{
    ViewData["Title"] = "Acceso Denegado";
}


<div class="flex-containerDen">
    <div class="center-all">
        <h2 class="txtDen mr-img">Acceso Denegado</h2>
        <img src="~/imgs/admlogo.png" class="imgContentDen" />
    </div>
</div>
