<link href="~/css/custom.css" rel="stylesheet" />

<main class="main-container">
    <div class="cards-container">
        <div class="flex flex-row flex-wrap justify-center gap-6">

            @if (User.IsInRole("Administrador") || User.IsInRole("Usuario"))
            {
                <a asp-action="Index" asp-controller="Clientes" class="transform hover:scale-105 transition duration-500">
                    <div class="max-w-sm p-6 bg-gray-900 border border-gray-700 rounded-lg shadow-lg transition duration-300 transform hover:-translate-y-1 hover:scale-105 hover:bg-gray-800 cursor-pointer text-center">
                        <i class="fa-solid fa-user-tag text-5xl text-indigo-500 mb-4"></i>
                        <h3 class="text-lg font-semibold text-white">Clientes</h3>
                        <p class="text-white">Administración de Clientes</p>
                    </div>
                </a>
            }

            @if (User.IsInRole("Administrador"))
            {
                <a asp-action="Index" asp-controller="Articulos" class="transform hover:scale-105 transition duration-500">
                    <div class="max-w-sm p-6 bg-gray-900 border border-gray-700 rounded-lg shadow-lg transition duration-300 transform hover:-translate-y-1 hover:scale-105 hover:bg-gray-800 cursor-pointer text-center">
                        <i class="fa-solid fa-grip-vertical text-5xl text-indigo-500 mb-4"></i>
                        <h3 class="text-lg font-semibold text-white">Artículos</h3>
                        <p class="text-white">Administración de Artículos</p>
                    </div>
                </a>

                <a asp-action="Index" asp-controller="Proveedores" class="transform hover:scale-105 transition duration-500">
                    <div class="max-w-sm p-6 bg-gray-900 border border-gray-700 rounded-lg shadow-lg transition duration-300 transform hover:-translate-y-1 hover:scale-105 hover:bg-gray-800 cursor-pointer text-center">
                        <i class="fa-solid fa-address-book text-5xl text-indigo-500 mb-4"></i>
                        <h3 class="text-lg font-semibold text-white">Proveedores</h3>
                        <p class="text-white">Administración de Proveedores</p>
                    </div>
                </a>

                <a asp-action="Index" asp-controller="Vendedores" class="transform hover:scale-105 transition duration-500">
                    <div class="max-w-sm p-6 bg-gray-900 border border-gray-700 rounded-lg shadow-lg transition duration-300 transform hover:-translate-y-1 hover:scale-105 hover:bg-gray-800 cursor-pointer text-center">
                        <i class="fa-solid fa-user-tie text-5xl text-indigo-500 mb-4"></i>
                        <h3 class="text-lg font-semibold text-white">Vendedores</h3>
                        <p class="text-white">Administración de Vendedores</p>
                    </div>
                </a>

                <a asp-action="Index" asp-controller="Transportes" class="transform hover:scale-105 transition duration-500">
                    <div class="max-w-sm p-6 bg-gray-900 border border-gray-700 rounded-lg shadow-lg transition duration-300 transform hover:-translate-y-1 hover:scale-105 hover:bg-gray-800 cursor-pointer text-center">
                        <i class="fa-solid fa-truck-fast text-5xl text-indigo-500 mb-4"></i>
                        <h3 class="text-lg font-semibold text-white">Transportes</h3>
                        <p class="text-white">Administración de Transportes</p>
                    </div>
                </a>
            }
        </div>
    </div>
</main>
